<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.healthhigh">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="google.com.healthhigh.activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="google.com.healthhigh.activities.HomeActivity"
            android:label="HHM">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="google.com.healthhigh.activities.MedalhasActivity"
            android:label="@string/title_activity_medalhas"
            android:theme="@style/AppTheme" />
        <activity
            android:name="google.com.healthhigh.activities.QuestionarioActivity"
            android:label="@string/action_questionario"
            android:parentActivityName="google.com.healthhigh.activities.HomeActivity" />
        <activity
            android:name="google.com.healthhigh.activities.UtilidadesActivity"
            android:label="@string/action_utilidades"
            android:parentActivityName="google.com.healthhigh.activities.HomeActivity" />
        <activity
            android:name="google.com.healthhigh.activities.NoticiaActivity"
            android:label="@string/action_noticias"
            android:parentActivityName="google.com.healthhigh.activities.HomeActivity" />
        <activity
            android:name="google.com.healthhigh.base_utilidades$CalcularIMC.CalculadoraImcActivity"
            android:label="@string/action_action_IMC"
            android:parentActivityName="google.com.healthhigh.activities.UtilidadesActivity" />
        <activity
            android:name="google.com.healthhigh.base_utilidades.DicaExercicioActivity"
            android:label="@string/action_Exercicio"
            android:parentActivityName="google.com.healthhigh.activities.UtilidadesActivity" />
        <activity
            android:name="google.com.healthhigh.activities.AndroidDatabaseManager"
            android:label="DB Manager"
            android:parentActivityName="google.com.healthhigh.activities.HomeActivity" />
        <activity
            android:name="google.com.healthhigh.activities.DetalhesMedalhaActivity"
            android:label="@string/medalha_label"
            android:parentActivityName="google.com.healthhigh.activities.MedalhasActivity" />
        <activity
            android:name="google.com.healthhigh.base_utilidades.DicaDietaActivity"
            android:label="@string/action_Dieta"
            android:parentActivityName="google.com.healthhigh.activities.UtilidadesActivity" />
        <activity android:name="google.com.healthhigh.activities.DetalhesDesafios" />
        <activity
            android:name="google.com.healthhigh.activities.ListaDesafiosActivity"
            android:label="Desafios" />
        <activity
            android:name="google.com.healthhigh.activities.RealizandoDesafioActivity"
            android:label="@string/realizando_desafio" />
        <activity android:name="google.com.healthhigh.activities.FormularioDesafioActivity" />
        <activity android:name="google.com.healthhigh.activities.FormularioMetaActivity" />
        <activity android:name="google.com.healthhigh.activities.ListaQuestionariosActivity" />
        <activity android:name="google.com.healthhigh.activities.ListaQuestionariosFakeActivity" />
        <activity android:name="google.com.healthhigh.activities.QuestionarioFakeActivity" />
        <activity android:name="google.com.healthhigh.activities.LendoNoticiaActivity"></activity>
    </application>

</manifest>